body {
    margin: 0;
    font-family: Arial, Helvetica;
    font-size: 14px;
}
ul {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.unstyled {
    list-style: none;
}
.error {
    padding: 20px;
    color: #cc0000;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}
.container {
    width: 1160px;
    padding: 20px;
    margin: 0 auto;
}
#header {
    background-color: #000;
}
#logo {
    font-size: 30px;
    color: #fff;
    font-style: italic;
    font-weight: bold;
}
#mainNav {
    display: inline-block;
    margin-left: 50px;
}
#mainNav li {
    display: inline-block;
    padding: 15px;
}
#mainNav li a {
    color: #fff;
}
#user {
    padding: 20px;
}
#user > div {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
#users li {
    border-bottom: 1px solid #ddd;
}
#users li span {
    display: table-cell;
    padding: 10px;
    width: 150px;
    vertical-align: middle;
    text-align: center;
}
#users li .transferWrap {
    width: 220px;
}
#users .amountToTransfer {
    width: 50px;
    height: 30px;
}
#users .transfer {
    padding: 8px;
}
.formWrap {
    text-align: center;
}
.formWrap input {
    display: block;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}